@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	color: #00FF29;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

p {
	text-align: center;
}


body {
	background-color: black;
}

.cells_container {
	display: inline-block;
}

.cell_column {
	background-color: #111B11;
	width:  100vw;
	display: flex;
}

.cell {
    flex: 1; /* Each box takes up an equal amount of space */
    height: 400px;
	border: 0.25px solid #4E4E4E;
    box-sizing: border-box;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    font-size: 16px;

}

.cell img {
    max-width: 24%; /* Make sure the image does not exceed the width of the container */
    max-height: 30%; /* Make sure the image does not exceed the height of the container */
    position: absolute; /* Position the image absolutely within the container */
}

.cell.empty {
	/*background-color: pink;*/
	text-align: center;
	vertical-align: sub;
	font-size: 36px;
}

@media only screen and (max-width: 768px) {
    .cell_column {
        display: inline-block;
        /* Additional styles for smaller screens if needed */
    }

	.cell img {
	    max-width: 70%; /* Make sure the image does not exceed the width of the container */
	    max-height: 80%; /* Make sure the image does not exceed the height of the container */
	    position: absolute; /* Position the image absolutely within the container */
	}
}